* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  align-items: center;
  border: grey 2px solid;
  justify-content: space-between;
  height: 25px;
}

logo {
  padding: 5px;
}

ul li {
  display: inline;
  padding: 30px;
}

header,
main,
section,
.project {
  text-align: center;
  border: 2px grey solid;
}

header {
  padding: 250px;
}

.project {
  padding-top: 40px;
}

.project_container {
  width: 50%;
  margin: 0 auto;
  border: grey 2px solid;
}

.project_title,
.project_content_container {
  border: 2px grey solid;
  text-align: left;
}

.project_skills ul {
  padding-left: 0;
  margin: 0;
}

.project_skills li {
  padding: 0;
}
